<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="folding_hand_right">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00276118404102101 -0.00285774223692806 0.0615605479553047"
        rpy="0 0 0" />
      <mass
        value="0.103375780582453" />
      <inertia
        ixx="3.11593509491742E-05"
        ixy="-5.70146156440556E-08"
        ixz="1.42660749888158E-06"
        iyy="4.5003240518971E-05"
        iyz="-3.58111402378398E-07"
        izz="3.85374175725486E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="ff_1">
    <inertial>
      <origin
        xyz="0.0174276113143449 -0.0025880306270465 -0.051026172322912"
        rpy="0 0 0" />
      <mass
        value="0.00800116450103895" />
      <inertia
        ixx="6.16375907626336E-07"
        ixy="-6.4465157640548E-09"
        ixz="1.25720337679154E-07"
        iyy="7.00497772286988E-07"
        iyz="1.88857364929768E-08"
        izz="2.41679032104396E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/ff_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/ff_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ff_1_joint"
    type="revolute">
    <origin
      xyz="-0.0079 0.003355 0.064"
      rpy="3.1416 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="ff_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ff_2">
    <inertial>
      <origin
        xyz="0.0158422609179284 0.00109998639127984 -0.00505523801864458"
        rpy="0 0 0" />
      <mass
        value="0.00368074206825828" />
      <inertia
        ixx="1.74635425164805E-07"
        ixy="2.38315368278493E-12"
        ixz="-3.49081105120789E-08"
        iyy="4.75377212779051E-07"
        iyz="1.16864797751418E-12"
        izz="4.70138993869148E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/ff_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/ff_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ff_2_joint"
    type="revolute">
    <origin
      xyz="0.020121 -0.0025 -0.075996"
      rpy="-1.5708 1.5417 0" />
    <parent
      link="ff_1" />
    <child
      link="ff_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ff_3">
    <inertial>
      <origin
        xyz="0.0178367732030435 0.000999402970096486 -0.0022372319913799"
        rpy="0 0 0" />
      <mass
        value="0.00404959762041178" />
      <inertia
        ixx="9.09224979928097E-08"
        ixy="-4.82248654592416E-11"
        ixz="7.00619451923977E-08"
        iyy="6.26639694894412E-07"
        iyz="9.43528798856071E-12"
        izz="6.23321071228333E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/ff_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/ff_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ff_3_joint"
    type="revolute">
    <origin
      xyz="0.035 0.0003 0"
      rpy="0 0 0" />
    <parent
      link="ff_2" />
    <child
      link="ff_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="mf_1">
    <inertial>
      <origin
        xyz="0.0158422601570955 0.00129998597816512 -0.0050552380419905"
        rpy="0 0 0" />
      <mass
        value="0.00368074201522147" />
      <inertia
        ixx="1.74635406284412E-07"
        ixy="2.36816117250817E-12"
        ixz="-3.49080977696694E-08"
        iyy="4.75377216872989E-07"
        iyz="1.15571431970362E-12"
        izz="4.70139016490944E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/mf_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/mf_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mf_1_joint"
    type="revolute">
    <origin
      xyz="-0.009 0.000855 0.14055"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="mf_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="mf_2">
    <inertial>
      <origin
        xyz="0.0216169098719861 0.000904419663191184 -0.00217715663925655"
        rpy="0 0 0" />
      <mass
        value="0.00502242897630229" />
      <inertia
        ixx="1.06662106139777E-07"
        ixy="-2.62438383107056E-11"
        ixz="6.43096806730193E-08"
        iyy="9.59144418477493E-07"
        iyz="1.02314537477542E-11"
        izz="9.60297532986314E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/mf_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/mf_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mf_2_joint"
    type="revolute">
    <origin
      xyz="0.035 0.0006 0"
      rpy="0 0 0" />
    <parent
      link="mf_1" />
    <child
      link="mf_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_1">
    <inertial>
      <origin
        xyz="-0.0159906401844529 -0.0105600115967382 -0.051516391608172"
        rpy="0 0 0" />
      <mass
        value="0.00800969565306044" />
      <inertia
        ixx="6.31281723456019E-07"
        ixy="-1.7553170210036E-08"
        ixz="-1.110391110627E-07"
        iyy="6.95805064467012E-07"
        iyz="-4.70356947692738E-08"
        izz="2.40136855524572E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/rf_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/rf_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_1_joint"
    type="revolute">
    <origin
      xyz="-0.0079 0.012155 0.064"
      rpy="3.1416 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="rf_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_2">
    <inertial>
      <origin
        xyz="0.0156935934157024 0.00109998713025121 -0.00549943217420239"
        rpy="0 0 0" />
      <mass
        value="0.0036807366322041" />
      <inertia
        ixx="1.72904144168496E-07"
        ixy="2.35909662601054E-12"
        ixz="-2.65330974524355E-08"
        iyy="4.75376819501147E-07"
        iyz="1.019027089931E-12"
        izz="4.71869255601023E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/rf_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/rf_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_2_joint"
    type="revolute">
    <origin
      xyz="-0.0161 -0.0113 -0.07655"
      rpy="1.5708 1.5708 0" />
    <parent
      link="rf_1" />
    <child
      link="rf_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_3">
    <inertial>
      <origin
        xyz="0.018265888885159 0.000904759770016556 -0.00370738520761145"
        rpy="0 0 0" />
      <mass
        value="0.00499342460902789" />
      <inertia
        ixx="1.15277519199432E-07"
        ixy="-1.4536149238844E-11"
        ixz="9.70157274743489E-08"
        iyy="7.52048559497963E-07"
        iyz="1.03136971593429E-11"
        izz="7.39864170899251E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/rf_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/rf_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_3_joint"
    type="revolute">
    <origin
      xyz="0.034986 0.0004 -0.00098578"
      rpy="0 0 0" />
    <parent
      link="rf_2" />
    <child
      link="rf_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_1">
    <inertial>
      <origin
        xyz="-0.0312849510272932 -0.0140312936490971 -0.0502369136670625"
        rpy="0 0 0" />
      <mass
        value="0.00836089652615313" />
      <inertia
        ixx="6.91312748704694E-07"
        ixy="-6.39699011750689E-08"
        ixz="-2.5850142077528E-07"
        iyy="9.37745860657525E-07"
        iyz="-8.6360796776642E-08"
        izz="4.62303222321355E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/lf_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/lf_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_1_joint"
    type="revolute">
    <origin
      xyz="-0.0079 0.016555 0.064"
      rpy="3.1416 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="lf_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_2">
    <inertial>
      <origin
        xyz="0.0155519171680911 0.000899988158834936 -0.00588816520024507"
        rpy="0 0 0" />
      <mass
        value="0.0036807319075368" />
      <inertia
        ixx="1.71769313017517E-07"
        ixy="2.34728194457574E-12"
        ixz="-1.9064715603389E-08"
        iyy="4.75376475908662E-07"
        iyz="8.99381155350294E-13"
        izz="4.73003192113371E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/lf_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/lf_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_2_joint"
    type="revolute">
    <origin
      xyz="-0.0329 -0.0157 -0.07655"
      rpy="1.5708 1.5708 0" />
    <parent
      link="lf_1" />
    <child
      link="lf_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_3">
    <inertial>
      <origin
        xyz="0.0136373816869327 0.000999137783326609 -0.00495198647252044"
        rpy="0 0 0" />
      <mass
        value="0.00323429827183613" />
      <inertia
        ixx="9.71311360656645E-08"
        ixy="4.50669930661153E-11"
        ixz="8.69893323416159E-08"
        iyy="3.22738473259161E-07"
        iyz="4.30383366834879E-14"
        izz="2.95824799844708E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/lf_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/lf_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_3_joint"
    type="revolute">
    <origin
      xyz="0.034951 -0.0001 -0.0018559"
      rpy="0 0 0" />
    <parent
      link="lf_2" />
    <child
      link="lf_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="th_1">
    <inertial>
      <origin
        xyz="0.0137524610845284 -0.00388692531484706 -0.00399815691934079"
        rpy="0 0 0" />
      <mass
        value="0.0085862447602651" />
      <inertia
        ixx="4.86393167138675E-07"
        ixy="4.6229396005095E-08"
        ixz="-8.47912552979972E-08"
        iyy="4.66658280466237E-07"
        iyz="-6.28916094633383E-08"
        izz="5.71403929448824E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="th_1_joint"
    type="revolute">
    <origin
      xyz="-0.0079 -0.001045 0.064"
      rpy="3.1416 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="th_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="th_2">
    <inertial>
      <origin
        xyz="0.0127004115106669 0.000899925159810369 0.021103551602678"
        rpy="0 0 0" />
      <mass
        value="0.00484700233885311" />
      <inertia
        ixx="7.68869476994104E-07"
        ixy="1.99869683283446E-12"
        ixz="-5.3038314992888E-07"
        iyy="1.55377159306767E-06"
        iyz="3.63688574140799E-12"
        izz="1.02745220346099E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="th_2_joint"
    type="revolute">
    <origin
      xyz="0.01364 0.02189 -0.0017481"
      rpy="-1.5708 1.0368 0" />
    <parent
      link="th_1" />
    <child
      link="th_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="th_3">
    <inertial>
      <origin
        xyz="0.00799399367852193 0.00100001344203523 0.0145817963066114"
        rpy="0 0 0" />
      <mass
        value="0.0036807341199548" />
      <inertia
        ixx="2.80148855351827E-07"
        ixy="-2.89350566213228E-12"
        ixz="-1.4582495236775E-07"
        iyy="4.75376345730277E-07"
        iyz="-8.94722559706633E-13"
        izz="3.64623294368966E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="th_3_joint"
    type="revolute">
    <origin
      xyz="0.036109 -0.0001 0.036072"
      rpy="0 0 0" />
    <parent
      link="th_2" />
    <child
      link="th_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="th_4">
    <inertial>
      <origin
        xyz="0.00729876168262759 0.00109078776438153 0.0100298513252921"
        rpy="0 0 0" />
      <mass
        value="0.00281885774752767" />
      <inertia
        ixx="1.52207777642241E-07"
        ixy="2.96890675774017E-12"
        ixz="-5.64354419119026E-08"
        iyy="1.90128277126092E-07"
        iyz="2.99628014574997E-12"
        izz="1.03333952624484E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://folding_hand_right/meshes/th_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="th_4_joint"
    type="revolute">
    <origin
      xyz="0.025359 0.0001 0.024123"
      rpy="0 0 0" />
    <parent
      link="th_3" />
    <child
      link="th_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>